@use "variables.scss" as v;

.button {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 12px 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: v.$white;
  background-color: v.$half-baked;
  border: none;
  user-select: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: v.$fountain-blue;
  }

  &:active {
    color: rgba(v.$white, 0.3);
    background-color: v.$steel-blue;
  }

  &:active::after {
    background-color: rgba(v.$white, 0.3);
  }
}
