@use "mixins.scss";
@include mixins.button;

.toggle {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
