@use "variables.scss" as v;
@use "mixins.scss" as m;

.form {
  margin: 0;
  padding: 0 20px 22px 20px;
}

.group {
  position: relative;
  margin: 0;
  padding: 24px 0;
  border: none;
}

.group::before {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: v.$mercury;
  content: "";
}

.group__title {
  @include m.font (700, 18px, v.$accent, 26px);
  margin: 0;
  padding: 34px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.form-list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
}

.form-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-list__subtitle {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.form-list__subtitle--checkbox {
  margin-bottom: 60px;
}

.form-list__input {
  @include m.font (700, 18px, v.$accent, 26px);
  flex: 1;
  padding: 16px 70px 16px 16px;
  background-color: v.$concrete;
  border: none;
}

.form-list__input[type="tel"],
.form-list__input[type="email"] {
  position: relative;
}

.form-list__input[type="tel"] + .form-list__icon {
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: v.$light-gray;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.form-list__input[type="email"] + .form-list__icon {
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: v.$light-gray;
  background-image: url("../img/email.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
}

.form-list__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: v.$concrete;
}

.form-list__label {
  @include m.font (700, 18px, v.$accent, 26px);
  text-transform: none;
  position: absolute;
  top: 0;
  left: 46px;
  padding: 10px 5px 10px 16px;
}

.form-list__input[type="checkbox"]:checked + .form-list__mark {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 12px 15px;
}

.form-list__input[type="radio"] + .form-list__mark {
  border-radius: 50%;
}

.form-list__input[type="radio"]:checked + .form-list__mark::after {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: v.$primary;
  content: "";
}

.review-text__input {
  @include m.font (700, 18px, v.$accent, 26px);
  font-family: v.$family;
  margin: 0;
  padding: 16px;
}

.form__submit {
  @include m.font (700, 21px, v.$secondary, 26px);
  font-family: v.$family;
}

.form__legend {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.6;
}
