@use "variables.scss" as v;
@use "mixins.scss" as m;

.form {
  margin-bottom: 15px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 3px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 0;
  }
}

.form__inner {
  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 58px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 100px;
  }
}

.form__inner-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;

  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }
}

.form__submit {
  @include m.font (700, 21px, v.$white, 26px);
  font-family: v.$family;
  padding: 16px 44px;

  @media (min-width: v.$tablet-width) {
    margin-right: auto;
    padding: 16px 71px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 16px 101px 17px;
  }
}

.form__legend {
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.6;
  padding: 3px 0 5px 5px;

  @media (min-width: v.$tablet-width) {
    font-size: inherit;
    padding: 24px 0 10px 0;
    opacity: 1;
  }
}
