@use "variables.scss" as v;
@use "mixins.scss" as m;

.gallery__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 56px;
    padding: 0 60px;
  }

  @media (min-width: v.$desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
    padding: 0;
  }
}

.gallery__item {
  position: relative;
  width: 100%;
  padding-bottom: 49px;

  &:last-child {
    padding-bottom: 42px;
  }

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    padding: 0;
    background-color: v.$concrete;

    &--background {
      background-color: v.$whisper;
    }

    &--main {
      grid-column: span 2;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media (min-width: v.$desktop-width) {
    &--main {
      grid-column: span 3;
    }
  }
}

.gallery__item::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: v.$mercury;

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.gallery__item:last-child::after {
  content: "";
  position: absolute;
  bottom: 17px;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: v.$mercury;

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.gallery__item-link {
  text-decoration: none;
}
