@use "variables.scss" as v;
@use "mixins.scss" as m;

.header {
  width: 100%;
}

.header__title {
  @include m.font (700, 18px, v.$black, 26px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    font-size: 21px;
  }
}

.header__title--color-white {
  color: v.$white;
}

.header__content {
  @include m.font (400, 14px, v.$mine-shaft, 21px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: v.$tablet-width) {
    font-size: 18px;
  }
}

.header__content--color-white {
  color: v.$white;
}

.header__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.header__subtitle--color-white {
  color: v.$white;
}
