@use "variables.scss" as v;

.hero {
  margin: 0;
  padding: 90px 18px 85px 18px;
  background-color: v.$wedgewood;
  background-image:
    url("../img/stack.svg#hero-triangle"),
    url("../img/backgrounds/hero-background-mobile@1x.jpg");
  background-size:
    1200px 57px,
    auto;
  background-position:
    center bottom,
    center bottom;
  background-repeat: no-repeat;

  &--position {
    padding-top: 52px;
    padding-bottom: 67px;
  }

  &--secondary {
    padding-top: 52px;
    padding-bottom: 67px;
  }

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/stack.svg#hero-triangle"),
      url("../img/backgrounds/hero-background-mobile@2x.jpg");
    background-size:
      1200px 57px,
      auto 389px;
  }

  @media (min-width: v.$tablet-width) {
    padding-top: 77px;
    padding-bottom: 91px;
    background-image:
      url("../img/stack.svg#hero-triangle"),
      url("../img/backgrounds/hero-background-tablet@1x.jpg");

    &--position {
      padding-top: 95px;
      padding-bottom: 117px;
    }

    &--secondary {
      padding-top: 95px;
      padding-bottom: 117px;
    }

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/stack.svg#hero-triangle"),
        url("../img/backgrounds/hero-background-tablet@2x.jpg");
      background-size:
        1200px 57px,
        auto 518px;
    }
  }

  @media (min-width: v.$desktop-width) {
    &--position {
      padding-top: 103px;
      padding-bottom: 120px;
    }

    &--secondary {
      padding-top: 103px;
      padding-bottom: 120px;
    }
  }
}

.hero__image-title {
  display: block;
  margin: 0 auto;

  @media (min-width: v.$tablet-width) {
    width: 458px;
    height: 78px;

    &--main {
      width: 461px;
      height: 350px;
    }
  }
}
