@use "variables.scss" as v;
@use "mixins.scss" as m;

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 27px 18px 33px;

  @media (min-width: v.$tablet-width) {
    max-width: 878px;
    flex-direction: row;
    margin: 0 auto;
    padding: 28px 55px;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 1440px;
    padding: 31px 116px;
  }
}

.main-footer__social {
  padding: 5px 5px 19px 5px;

  @media (min-width: v.$tablet-width) {
    padding-bottom: 5px;
  }
}

.main-footer__copyright {
  padding: 5px;
}

.meta {
  text-align: center;
  padding: 5px;
  padding-bottom: 25px;

  @media (min-width: v.$tablet-width) {
    padding: 7px 0 12px 5px;
  }
}

.meta__link {
  @include m.font (700, 21px, v.$black, 26px);
  text-align: center;
  text-transform: uppercase;
}

.meta__tag {
  vertical-align: middle;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 12px;
}
