@use "variables.scss" as v;

.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: v.$white;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 96px;
  display: block;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toggle {
  align-self: flex-end;
  width: 63px;
  height: 56px;
  padding: 17px 18px 17px 10px;
  border: none;
  background-color: transparent;
  background-image: url("../img/stack.svg#menu");
  background-repeat: no-repeat;
  background-size: 23px 22px;
  background-position: center;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;

  &--nojs {
    .main-nav__list {
      position: static;
      margin-top: 97px;
      width: 100%;
    }

    .main-nav__toggle {
      display: none;
    }
  }

  &--open {
    .main-nav__list {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .main-nav__toggle {
      display: block;
      width: 62px;
      height: 56px;
      padding-bottom: 15px;
      background-image: url("../img/stack.svg#cross");
      background-size: 23px 23px;
      z-index: 1;
    }
  }

  &--close {
    .main-nav__list {
      display: none;
    }

    .main-nav__toggle {
      display: block;
    }
  }

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &--nojs {
      .main-nav__list {
        position: relative;
        display: contents;
        margin: 0;
      }

      .main-nav__toggle {
        display: none;
      }
    }

    &--open {
      .main-nav__list {
        display: contents;
      }

      .main-nav__toggle {
        display: none;
      }
    }

    &--close {
      .main-nav__list {
        display: contents;
      }

      .main-nav__toggle {
        display: none;
      }
    }
  }
}
