@use "variables.scss" as v;
@use "fonts.scss" as f;
@use "mixins.scss" as m;

.main-footer__wrapper {
  max-width: 768px;
  min-height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 33px 18px;
  background-color: v.$backgroundColor1;
}

.meta {
  display: flex;
  align-items: center;
}

.meta__link {
  @include m.font (f.$bold, f.$font-21, v.$textColor2, f.$line-height-title);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 5px 5px;
}

.meta__tag {
  vertical-align: middle;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 12px;
}
