@use "variables.scss" as v;
@use "mixins.scss" as m;

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(v.$black, 0.3);
  visibility: hidden;

  &--open {
    visibility: visible;
  }
}

.modal {
  position: relative;
  top: 116px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 45px 45px 35px 45px;
  background-color: v.$white;

  &--padding {
    padding: 0;
    padding-top: 39px;
  }

  @media (min-width: v.$tablet-width) {
    width: 400px;
    padding: 50px 40px 49px 40px;

    &--padding {
      width: 640px;
      padding: 0;
      padding-top: 53px;
    }
  }
}

.modal__button {
  @include m.font(700, 18px, v.$white, 26px);
  font-family: v.$family;
  width: 180px;

  &--secondary {
    width: 280px;
  }

  @media (min-width: v.$tablet-width) {
    width: 272px;

    &--secondary {
      width: 452px;
    }
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: v.$concrete;

  @media (min-width: v.$tablet-width) {
    padding: 44px 91px;
  }
}

.modal__title {
  @include m.font(700, 21px, v.$black, 26px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 30px;

  @media (min-width: v.$tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__title br {
  display: none;

  @media (min-width: v.$tablet-width) {
    display: block;
  }
}

.modal__content {
  @include m.font(400, 14px, v.$mine-shaft, 21px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 30px;

  &--padding {
    padding: 0 37px 30px 39px;
  }

  @media (min-width: v.$tablet-width) {
    &--padding {
      padding: 0 107px 30px 115px;
    }
  }
}

