@use "variables.scss" as v;
@use "fonts.scss" as f;
@use "mixins.scss" as m;

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 45px 41px 35px 42px;
  background-color: v.$backgroundColor1;
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  background-color: v.$input-backgroundColor;
}

.modal__title {
  @include m.font (f.$bold, f.$font-18, v.$textColor2, f.$line-height-title);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 30px;
}

.modal__content {
  @include m.font (f.$normal, f.$font-18, v.$textColor1, f.$line-height-contant);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 30px;
}
