.presentation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 17px 20px 0 20px;
}

.presentation__header {
  margin: 0;
  padding: 0;
}

.presentation__header-title {
  padding-bottom: 30px;
}

.presentation__header-content {
  padding-bottom: 38px;
}
