@use "variables.scss" as v;
@use "mixins.scss" as m;

.reason__header {
  width: 100%;
  margin: 0;
  padding: 32px 18px 0 18px;

  &-title {
    padding-bottom: 37px;
  }

  &-content {
    padding-bottom: 16px;
  }

  @media (min-width: v.$tablet-width) {
    padding: 47px 80px 0 80px;

    &-title {
      padding-bottom: 30px;
    }

    &-content {
      font-size: 14px;
      padding-bottom: 56px;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 59px 353px 0 350px;

    &-content {
      padding-bottom: 44px;
    }
  }
}

.reason__list {
  @include m.list-reset;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: v.$tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.reason__item {
  position: relative;
  display: flex;
  flex-direction: column;

  &--background-grey {
    position: relative;
    margin: 0;
    padding: 25px 35px 26px;
    background-color: v.$gallery;
  }

  &--icon {
    padding: 31px 0 3px 0;
  }

  &--icon:last-child {
    padding-bottom: 44px;
  }

  &--icon::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 18px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--house::before {
    background-image: url("../img/stack.svg#house");
    background-size: 40px 40px;
  }

  &--burger::before {
    background-image: url("../img/stack.svg#burger");
    background-size: 40px 35px;
  }

  &--souvenir::before {
    background-image: url("../img/stack.svg#souvenir");
    background-size: 32px 38px;
  }

  @media (min-width: v.$tablet-width) {
    &--background-grey {
      padding: 42px 33px 42px 33px;
    }

    &--image {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 1 / -1;
    }

    &--grid {
      grid-column: 1 / -1;
    }

    &--icon {
      padding: 157px 33px 60px 33px;
    }

    &--icon::before {
      top: 60px;
      left: 0;
      width: 100%;
      height: 75px;
    }

    &--house::before {
      background-size: 77px 72px;
    }

    &--burger::before {
      background-size: 80px 68px;
    }

    &--souvenir::before {
      background-size: 66px 75px;
    }
  }

  @media (min-width: v.$desktop-width) {
    &--background-grey {
      padding: 54px 50px 54px 50px;
    }

    &--icon {
      padding: 170px 50px 67px 50px;
    }

    &--icon::before {
      top: 64px;
      height: 85px;
    }

    &--house::before {
      background-size: 83px 73px;
    }

    &--burger::before {
      background-size: 74px 69px;
    }

    &--souvenir::before {
      background-size: 78px 75px;
    }
  }
}

.reason__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  padding: 39px 0 35px;
  background-color: v.$half-baked;

  &--triangle {
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url("../img/stack.svg#header-trinagle-mobile");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px 37px;
  }

  @media (min-width: v.$tablet-width) {
    min-height: 255px;
    padding: 53px 33px 30px 33px;

    &--reverse {
      padding: 53px 25px 30px 25px;
      grid-column: 3 / 4;
    }

    &--triangle {
      background-image: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 53px 65px 31px 65px;

    &--reverse {
      padding: 53px 70px 31px 70px;
    }
  }
}

.reason__item--background-grey::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: v.$alto;


  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.reason__item--image + .reason__item--background-grey::before {
  content: none;
}


.reason__title {
  @include m.font (700, 18px, v.$black, 26px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 18px 11px 18px;

  &--color-white {
    color: v.$white;
  }

  &--mobile {
    text-align: left;
    padding-left: 65px;
    padding-bottom: 16px;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 21px;
    padding: 0 27px 14px 27px;

    &--mobile {
      text-align: center;
      padding-bottom: 25px;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 50px 14px 50px;

    &--mobile {
      padding-bottom: 25px;
    }

    &--pagination {
      padding-bottom: 11px;
    }
  }
}

.reason__title--pagination br {
  display: none;

  @media (min-width: v.$tablet-width) {
    display: block;
  }
}

.reason__content {
  @include m.font (400, 14px, v.$mine-shaft, 21px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  &--color-white {
    color: v.$white;
    padding: 0 20px;
  }

  &--mobile {
    text-align: left;
    padding: 0 18px 0 65px;
  }

  @media (min-width: v.$tablet-width) {
    padding: 0;

    &--mobile {
      text-align: center;
    }
  }
}

.reason__content-break {
  display: none;

  @media (min-width: v.$tablet-width) {
    display: block;

    &--tablet {
      display: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    display: none;

    &--desktop {
      display: block;
      white-space: pre-wrap;
    }
  }
}

.reason__picture {
  @media (min-width: v.$tablet-width) {
    grid-column: 2 / 4;

    &--reverse {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }
}

.reason__image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: v.$tablet-width) {
    height: 100%;
  }
}

.reason__pagination {
  @include m.font (400, 14px, v.$mine-shaft, 21px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 18px 17px;

  &--color-white {
    color: v.$white;
  }

  @media (min-width: v.$tablet-width) {
    &--position {
      padding-bottom: 22px;
    }

    &--color-white {
      color: v.$white;
      padding-bottom: 22px;
    }
  }
}
