@use "variables.scss" as v;
@use "mixins.scss" as m;

.reason__header {
  width: 100%;
  margin: 0;
  padding: 32px 18px 0 18px;

  &-title {
    padding-bottom: 37px;
  }

  &-content {
    padding-bottom: 16px;
  }

  @media (min-width: v.$tablet-width) {
    padding: 47px 80px 0 80px;

    &-title {
      padding-bottom: 30px;
    }

    &-content {
      font-size: 14px;
      padding-bottom: 55px;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 59px 353px 0 350px;

    &-content {
      padding-bottom: 44px;
    }
  }
}

.reason__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.reason__item {
  position: relative;
  margin: 0;
  padding: 0;

  &--background-grey {
    position: relative;
    margin: 0;
    padding: 24px 26px;
    background-color: v.$gallery;
  }

  &--column {
    padding: 24px 15px 27px;
  }

  &--icon {
    padding: 31px 0 3px 0;
  }

  &--icon:last-child {
    padding-bottom: 44px;
  }

  &--icon::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 18px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
    background-size: 40px 40px;
  }

  &--burger::before {
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
  }

  &--souvenir::before {
    background-image: url("../img/icon-souvenir.svg");
    background-size: 32px 38px;
  }

  @media (min-width: v.$tablet-width) {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;

    &--column {
      width: 33.33%;
      max-width: 400px;
      align-items: center;
      flex-direction: column;
      align-self: stretch;
      padding: 158px 33px 60px 33px;
    }

    &--background-grey {
      padding: 42px 33px 39px 33px;
    }

    &--image {
      width: 100%;
      flex-wrap: nowrap;
    }

    &--reverse {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    &--icon {
      padding-bottom: 0;
    }

    &--icon:last-child {
      padding-bottom: 0;
    }

    &--icon::before {
      top: 60px;
      left: 0;
      width: 100%;
      height: 72px;
    }

    &--house::before {
      background-image: url("../img/icon-house.svg");
      background-size: 77px 72px;
    }

    &--burger::before {
      background-image: url("../img/icon-burger.svg");
      background-size: 80px 68px;
    }

    &--souvenir::before {
      background-image: url("../img/icon-souvenir.svg");
      background-size: 66px 75px;
    }
  }

  @media (min-width: v.$desktop-width) {
    &--background-grey {
      padding: 54px 50px 52px 50px;
    }

    &--icon {
      padding: 169px 50px 8px 50px;
    }

    &--icon::before {
      top: 64px;
      height: 85px;
    }

    &--house::before {
      background-size: 80px 73px;
    }

    &--burger::before {
      background-size: 73px 69px;
    }

    &--souvenir::before {
      background-size: 80px 79px;
    }
  }
}

.reason__wrapper {
  position: relative;
  padding: 39px 0 35px;
  background-color: v.$half-baked;

  &--triangle {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  &--triangle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 37px;
    background-color: v.$half-baked;
    background-image: url("../img/header-trinagle-mobile.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  @media (min-width: v.$tablet-width) {
    width: 33.34%;
    min-width: 256px;
    min-height: 256px;
    padding: 53px 33px 31px 33px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;


    &--triangle::after {
      display: none;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 53px 55px 31px 55px;
  }
}

.reason__item--background-grey::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: v.$alto;


  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.reason__item--image + .reason__item--background-grey::before {
  content: none;
}


.reason__title {
  @include m.font (700, 18px, v.$black, 26px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 18px 11px 18px;

  &--color-white {
    color: v.$white;
  }

  &--mobile {
    text-align: left;
    padding-left: 65px;
    padding-bottom: 16px;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 21px;
    padding: 0 27px 14px 27px;

    &--mobile {
      padding-bottom: 25px;
    }
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 50px 14px 50px;

    &--mobile {
      padding-bottom: 25px;
    }
  }

  &--pagination {
    padding-bottom: 11px;
  }
}


.reason__content {
  @include m.font (400, 14px, v.$mine-shaft, 21px);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 18px;

  &--color-white {
    color: v.$white;
  }

  &--mobile {
    text-align: left;
    padding-left: 65px;
  }

  @media (min-width: v.$tablet-width) {
    padding: 0;

    &--mobile {
      text-align: center;
      padding: 0 11px 60px;
    }
  }

  @media (min-width: v.$desktop-width) {
    &--mobile {
      padding: 0 11px 60px;
    }
  }
}

.reason__content br {
  display: none;

  @media (min-width: v.$tablet-width) {
    display: block;
  }

  @media (min-width: v.$desktop-width) {
    display: none;
  }
}

.reason__picture {
  width: 66.66%;
  height: 100%;
}

.reason__image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: v.$tablet-width) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.reason__pagination {
  @include m.font (400, 14px, v.$mine-shaft, 21px);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 18px 17px;

  &--color-white {
    color: v.$white;
  }

  @media (min-width: v.$tablet-width) {
    &--position {
      padding-bottom: 25px;
    }

    &--color-white {
      color: v.$white;
      padding-bottom: 22px;
    }
  }
}
