@use "variables.scss" as v;
@use "fonts.scss" as f;
@use "mixins.scss" as m;

.site-list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__item {
  background-color: v.$backgroundColor2;
  display: flex;
  justify-content: center;
  align-self: stretch;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.site-list__link {
  @include m.font(f.$bold, f.$font-18, v.$textColor2, f.$line-height-title);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 14px;
}

.site-list__link--color-white {
  color: v.$textColor3;
}
