@use "variables.scss" as v;
@use "mixins.scss" as m;

.social__list {
  @include m.list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 170px;
}

.social__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  position: relative;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 24px;
    height: 14px;
    background-color: v.$white;
    mask-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &--vkontakte::after {
    mask-image: url("../img/stack.svg#vkontakte");
  }

  &--youtube::after {
    width: 20px;
    height: 14px;
    mask-image: url("../img/stack.svg#youtube");
  }

  &--telegram::after {
    width: 21px;
    height: 18px;
    mask-image: url("../img/stack.svg#telegram");
  }

  &:active + &::after {
    background-color: rgba(v.$white, 0.3);
  }
}
