.video {
  position: relative;
  margin: 0;
  padding: 0;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
