@use "variables.scss" as v;
@use "mixins.scss" as m;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: v.$concrete;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  @include m.font(400, 14px, v.$mine-shaft, 21px);
  font-family: v.$family;
  min-width: 320px;
  max-width: v.$desktop-width;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  background-color: v.$white;

  @media (min-width: v.$desktop-width) {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
