@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

$family: "PT Sans", "Arial", sans-serif;
$style-normal: normal;

$normal: 400;
$bold: 700;

$font-12: 12px;
$font-14: 14px;
$font-18: 18px;
$font-21: 21px;

$line-height-title: 26px;
$line-height-contant: 21px;
