// colors
$white: #ffffff;
$half-baked: #81b3d2;
$wedgewood: #5384a3;
$gallery: #eeeeee;
$concrete: #f2f2f2;
$light-gray: #e6e6e6;
$gainsboro: #e7e5e5;
$mercury: #e5e5e5;
$crayola-crystal: #d5d5d5;
$alto: #d6d6d6;
$mine-shaft: #333333;
$black: #000000;
$pine-cone: #766357;
$whisper: #eaeaea;
$pink-swan: #b3b3b3;
$fountain-blue: #669ec0;
$steel-blue: #5496bd;

// fonts
$family: "PT Sans", "Arial", sans-serif;

// breakpoints
$tablet-width: 768px;
$desktop-width: 1200px;
