// background color
$backgroundColor1: #ffffff;
$backgroundColor2: #81b3d2;
$backgroundColor3: #5384a3;
$backgroundColor4: #eeeeee;
$input-backgroundColor: #f2f2f2;
$inputIcon-backgroundColor: #e6e6e6;
$frame-backgroundColor: #e7e5e5;
$border-backgroundColor: #e5e5e5;
$lineBottom-Color: #d6d6d6;

// text color
$textColor1: #333333;
$textColor2: #000000;
$textColor3: #ffffff;

//border radius
$radius-4: 4px;
$radius-circle: 50%;

// opacity
$opacity-3: 0.3;
$opacity-6: 0.6;
